* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: whitesmoke;
    color: #576366;
    margin: 5%;
}

#portfolio img {
    transition: all 1s;
}

#portfolio img:hover {
    transform: scale(1.1);
}

a:hover {
    color: lightslategrey;
}

#main-nav, header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1, h2, nav, footer {
    font-weight: 800;
}

nav, h2 {
    text-transform: uppercase;
}

#home h2 {
    font-weight: unset;
    text-transform: unset;
}

#main-nav {
    width: 95%;
    font-size: 1.3rem;
}

#home {
    display: flex;
    flex-direction: column;
}

#home h2 {
    text-align: center;
} 

h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a {
    text-decoration: none;
    color: #576366;
}

img {
    width: 90%;
}

#profile-image {
    width: 70%;
    margin: 2rem auto;
    /* margin-top: 3rem;
    margin-bottom: 2rem; */
}

#portfolio, #main-nav a {
    background-color: ghostwhite;
    margin-bottom: 5px;
    padding: 10px 0;
}


#portfolio {
    margin: 4rem -5%;
}

#portfolio p {
    padding: 0rem 2rem;
    margin-bottom: 4rem;
    margin-top: .5rem;
}

#portfolio p:last-child {
    margin-bottom: 3rem;
}

#portfolio, #contact {
    margin-top: 3rem;
}

#portfolio h2 {
    margin-top: 2.5rem;
}

#portfolio h2, #contact h2 {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
}

#contact h2 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

#contact h2 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

#contact-info {
    margin-top: 2.25rem;
}

footer {
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 2rem 0;;
}

#footer-nav, #footer-name {
    font-size: 1rem;
    margin: 2rem .5rem;
}

#footer-name {
    text-transform: unset;
}

.hide {
    display: none;
}

#portfolio p, #home h2, #contact p {
    font-size: 1.2rem;
}


/* ===========================================================
            Media Queries
============================================================= */

@media screen and (min-width: 768px) {

    #main-nav {
        flex-direction: row;
        justify-content: space-between;
        max-width: 50%;
    }

    #main-nav a {
        background-color: unset;
    }

    #profile-image, #home h2 {
        width: 48%;
    }
    
    #home {
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin: 2rem .25rem;
        align-items: center;
    }

    #home h2 {
        text-align: left;
    }

    #portfolio-projects {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #portfolio p, #home h2, #contact p {
        font-size: 1.3rem;
    }

    .project {
        width: 50%;
    }

    #contact {
        padding: 0 7rem;
    }

    .hide {
        display: unset;
        margin-left: 20px;
    }

    .hide-2 {
        display: none;
    }

    #footer-nav, #footer-name {
        font-size: 1.3rem;
    }
}




@media screen and (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    h1 {
        margin-right: auto;
    }

    #home {
        margin: 1rem;
    }

    .project {
        width: 33%;
    }

    #main-nav {
        display: inline-block;
        width: unset;
        max-width: unset;
        margin: unset;
    }

    #main-nav a {
        margin-left: 3rem;
    }

    #profile-image {
        width: 40%;
    }

    #portfolio {
        margin-right: -3%;
        margin-left: -3%;
    }

    #portfolio p, #home h2, #contact p {
        font-size: 1.5rem;
    }
}