* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: whitesmoke;
    color: #576366;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}


/* =============================================================
                          Links, Header                               
============================================================== */

#main-nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    font-size: 1.3rem;
    max-width: 400px;
}

#main-nav a, #portfolio {
    background-color: ghostwhite;
}

#main-nav a {
    padding: 0.75rem;
    margin-top: 0.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #576366;
}

a:hover {
    color: lightslategrey;
}

h1 {
    font-size: 1.75rem;
}

/* =============================================================
      FONT STYLE, WEIGHT, UPPERCASE, AND EXCLUSIONS
============================================================== */

h1, h2, nav, footer {
    font-weight: 800;
}

nav, h2 {
    text-transform: uppercase;
}

#home h2 {
    font-weight: unset;
    text-transform: unset;
}

#footer-name {
    text-transform: unset;
}

h1, #footer-name {
    font-family: 'Poppins', sans-serif;
}

/* =============================================================
                        SPACING
============================================================== */

p, ul, #home h2 {
    font-size: 1.2rem;
}

header {
    margin-top: 2.5rem;
}

section, footer {
    margin: 2rem .5rem;
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

footer h2, #home h2 {
    margin-bottom: 0;
}

#portfolio h2 {
    margin-bottom: 2.5rem;
}

#education, #contact {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

/* =============================================================
                        IMAGES
============================================================== */

img {
    width: 95%;
    margin-bottom: 1rem;
}

#portfolio img {
    transition: all 1s;
}

#portfolio img:hover {
    transform: scale(1.1);
}

#profile-image {
    width: 70%;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

/* =============================================================
                        HOME SECTION
============================================================== */

#home {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

/* =============================================================
                    PORTFOLIO SECTION
============================================================== */

#portfolio {
    padding: 2.5rem 0.5rem;
}

#portfolio p {
    padding: .5rem 1.5rem;
}

.project {
    margin-bottom: 3.5rem;
}

.project:last-child {
    margin-bottom: 0;
}

/* =============================================================
                     EDUCATION SECTION
============================================================== */

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 1rem;
}


/* =============================================================
                        CONTACT SECTION
============================================================== */

#contact-info {
    margin-top: 1.5rem;
}


/* =============================================================
                            FOOTER
============================================================== */

.hide {
    display: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 1rem;
    font-size: 1rem;
    border-top: 1px solid lightgray;
    margin-top: 3rem;
}

#footer-name {
    font-size: 1rem;
}

/* ===========================================================
            Media Queries
============================================================= */

@media screen and (min-width: 768px) {

    header {
        margin-top: 4rem;
    }

    #main-nav {
        flex-direction: row;
        max-width: 550px;
        justify-content: space-between;
    }
    
    #main-nav a {
        background-color: unset;
    }

    #home {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
        padding-right: 4rem;
        padding-left: 3rem;
    }

    #profile-image {
        width: 40%;
        margin: 0;
    }

    #home h2 {
        width: 50%;
        text-align: left;

    }

    #projects-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .project {
        width: 50%;
    }

    p, ul, #home h2 {
        font-size: 1.3rem;
    }

    .hide {
        display: unset;
        margin-left: 20px;
    }

    .hide-2 {
        display: none;
    }

    section, footer {
        margin-top: 5rem;
    }

    footer {
        padding: 3rem 1rem 1rem;
    } 
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 5rem;
    }

    #main-nav, h1 {
        margin: unset;
    }
    
    h1 {
        margin-right: auto;
        text-align: center;
    }

    #main-nav a {
        margin-left: .75rem;
        padding: unset;
    }

    #home {
        margin: 1rem;
    }

    #profile-image {
        width: 40%;
        max-width: 450px;
    }

    .project {
        width: 33%;
    }
 
    p, ul, #home h2, footer {
        font-size: 1.5rem;
    }

    footer, #footer-name {
        font-size: 1.2rem;
    }

    #portfolio h2 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

