* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: whitesmoke;
    color: #576366;
    /* padding: 25px; */
    margin: 5%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1, h2, nav, footer {
    font-weight: 800;
}

nav, h2 {
    text-transform: uppercase;
}

#main-nav {
    width: 90%;
}

#home p {
    font-size: 1.25rem;
}

h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

a {
    text-decoration: none;
    color: #576366;
}

img {
    width: 90%;
}

#profile-image {
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#portfolio, #main-nav a {
    background-color: ghostwhite;
    margin-bottom: 5px;
    padding: 10px 0;
}

#portfolio p {
    padding: 0rem 2rem;
    font-size: 1rem;
    margin-bottom: 4rem;
    margin-top: .5rem;
}

#portfolio p:last-child {
    margin-bottom: 3rem;
}

#portfolio, #contact {
    margin-top: 3rem;
}

#portfolio h2, #contact h2 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
}

#contact h2 {
    margin-bottom: 1rem;
}

#contact h2 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

#contact-info {
    margin-top: 2.25rem;
}

footer {
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

#footer-nav, #footer-name {
    font-size: 1rem;
    margin: 2rem .5rem;
}

#footer-name {
    text-transform: unset;
}

.hide {
    display: none;
}


/* ===========================================================
            Media Queries
============================================================= */

@media screen and (min-width: 768px) {

    #main-nav {
        flex-direction: row;
        justify-content: space-between;
        max-width: 50%;
    }

       /* #profile-image {
        width: 30%;
        float: right;
    }

    #home {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }

    #home p {
        width: 60%;
    } */

    #portfolio-projects {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .project {
        width: 50%;
    }

    #portfolio {
        margin: 0 -5%;
    }

    #contact {
        padding: 0 7rem;
    }

    .hide {
        display: unset;
        margin-left: 20px;
    }

    .hide-2 {
        display: none;
    }

}